.Nav {
    display: flex;
    justify-content: space-around;
    align-content: baseline;
    border-bottom: 1px #090a0c solid;
}
.logo {
    display: flex;
}
.logo-img {
    width: 60px;
}
.Navbar-logo {
    font-size: 28px;
    text-transform: uppercase;
    text-decoration: none;
    color: #090a0c;
    font-weight: bold;
    line-height: 50px;
}
.Navbar-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
}
.Navbar-list li a {
    margin-right: 15px;
    text-decoration: none;
}
.Navbar-list li a.active {
    color: #79fd00;
}
.Navbar-list li a:focus {
    outline: none;
}
