.dashboard_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(250deg, #cef2fa 0%, #59bfef 100%);
}
.dashboard_container_name {
    display: flex;
    flex-direction: column;
    width: 60%;



}
.create_container {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}
.create_container > h3 {
    text-align: center;
}
.create_container > form {
    background: #eeeeee;
    box-shadow: 2px 2px 2px rgba(0,0,0,.7);
    padding: 15px;
    border-radius: 5px;
}
.panel {
    width: 60%;
    display: grid;
    grid-template: 50px / repeat(2, 150px);
}
.panel_btn {
    background: #090a0c;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    padding: 15px;
    border-right: 2px white solid;
}
.panel_btn_active {
    background: #b4b4b4;
    text-align: center;
    font-weight: normal;
    font-size: 1.2rem;
    color: #000000;
    text-transform: uppercase;
    padding: 15px;
    border-right: 2px white solid;
    opacity: .3;
}
.table {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    grid-template-columns:
        minmax(110px, 1fr)
        minmax(150px, 1fr)
        minmax(150px, 1fr)
        minmax(200px, 1.67fr)
        minmax(150px, 1fr)
        minmax(150px, 1fr)
        minmax(150px, 1fr)
        minmax(150px, 1fr);
}
.thead, .tbody, .tr {
    display: contents;
}
.th, .td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.th {
    position: sticky;
    top: 0;
    background: linear-gradient(0deg, #59bfef, #61dafb 10%);
    text-align: left;
    font-weight: normal;
    font-size: 1.2rem;
    color: #242323;
}
.th:last-child {
    border: 0;
}
.td, .td > a{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #040404;
}
.tr:nth-child(even) .td,.tr:nth-child(even) .td > a {
    background: linear-gradient(0deg, #59bfef, #040404 10%);
    color: white;
}
