$default-font: "Inter-Regular", sans-serif;
$default-font-bold: "Inter-Bold", sans-serif;
//colors
//tip-g
$white: #ffffff;
$black: #000000;
$red: #d40a0a;
$text-grey: #4A5568;
$text-h3: #2D3748;
$text-p: #718096;
$border-color: #E2E2E2;
$bg-top-poster: #FBFBFB;
$bg-primary-post: #F7FAFC;

//z-index
$header: 1000;

// media
$tablet-bp: 991px;
$mobile-bp: 575px;
